/*COLORES: 
		Rosa palido tirando a gris
		 #EEE8CD 	238	232	205
		 #EEDFCC	238	223	204	
		Rosa para destaque
		 #EE8262	238	130	98
		Rosa mas intenso
		 #FF6347*/
.bg-bars{
	background-color: #EEDFCC;
	height: 3em;
}
.cart{
	float: right;
	display: inline;
}
.carousel-main{
	height: 8em;
}

.productos{

}
.carousel-caption>.p-frame{
	padding:1em;
	border: 2px solid white;
	font-size: 2em;
}
.mb-10{
	margin-bottom: 10%;
}
.mt-5{
	margin-top: 5%;
}
.fit{
	width: 100%;
}
hr.pleca{
	border-top: 3px double lightgrey;
	width: 100%;
}
button.sales{
	background-color: white;
	border: none;
	color:grey;
}
button.sales:hover{
	font-weight: bold;
	color:black;
}
